.users.swiper-container
  .swiper-wrapper
    - @users.each_slice(14) do |page|
      .users-page.swiper-slide
        - page.each do |user|
          = link_to user, class: :user do
            = user.user_image do
              .user-name= user.name
