@import 'users'
@import 'css-reset'
@import 'font-awesome'
@import 'https://fonts.googleapis.com/css?family=Asap'

*
  -webkit-tap-highlight-color: transparent
  -webkit-user-select: none
  -moz-user-select: none
  user-select: none
  overflow: hidden

html, body
  width: 100vw
  height: 100vh

  font-family: "Asap", sans-serif

a
  text-decoration: none
  color: inherit
