#users
  &.index
    a.user-link
      height: 100px
      width: 100px
      background-size: contain
      display: inline-block
      position: relative

      span.initials
        text-transform: uppercase
        background-color: map-get($foundation-palette, success)
        display: inline-block
        color: #fff
        padding: 10px
        position: absolute
        left: 0
        top: 0
