.fullsize
  width: 100vw
  height: 100vh

.flex-rows
  display: flex

.flex-columns
  display: flex
  flex-direction: column

.grow
  flex-grow: 1

.tile
  width: calc(100vh / 3)
  height: calc(100vh / 3)
  background-color: #e2e2e2
  display: flex
  align-items: center
  justify-content: center

.users
  width: 100vw
  height: 100vh
  background-color: #333

.swiper-wrapper
  overflow: visible

.users-page
  @extend .flex-rows
  @extend .fullsize
  flex-wrap: wrap

.user
  .user-image
    @extend .tile
    background-size: cover
  .user-name
    margin-top: 70%
    font-size: 20px
    color: #fff
    text-shadow: 0 0 1px black, 0 0 5px rgba(0, 0, 0, 0.5)
    overflow: visible

.new-user
  @extend .tile
  .fa
    margin-top: 5%
    font-size: calc(100vw / 10)
    color: #fff
    overflow: visible
